<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="pinfo" class="com.practice.comp.PersonInfo">
		<constructor-arg name="pid" value="07"/>
		<constructor-arg name="pname" value="Suraj"/>
		<constructor-arg name="paddress" value="GT"/>
		<constructor-arg name="dom"><null/></constructor-arg>
		<constructor-arg name="doj"><null/></constructor-arg>
		<constructor-arg name="dob" ref="dobObj"/>
</bean>

<bean id="dobObj" class="java.util.Date">
	<property name="year" value="96"/>
	<property name="month" value="06"/>
	<property name="date" value="03"/>
</bean>

</beans>